header {
  background-color: green;d
  
}

h1 {
  font-family: "Nunito Sans", serif;
  
  
}

body { 
  font-family: "Nunito Sans", serif;
  background-color: red;
}
  
img {
  width: 500px;
}

img {
  width: 500px;
}

img {
  width: 500px;
}

footer {
  background-color: blue;
}
